@model BookFormViewModel
@{
	ViewBag.Title = (Model.Id.Equals(0) ? "Create" : "Update") + " Book";
}
<div class="card shadow-sm">
	<div class="card-body">

		<form asp-controller="Books" enctype="multipart/form-data">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<input type="hidden" asp-for="ImageUrl" />

					<div class="form-floating mb-7">
						<input asp-for="Title" class="form-control" placeholder="Name">
						<label asp-for="Title"></label>
						<span asp-validation-for="Title" class="text-danger"></span>

					</div>
					<div class="form-floating mb-7">
						<input asp-for="Publisher" class="form-control" placeholder="Name">
						<label asp-for="Publisher"></label>
						<span asp-validation-for="Publisher" class="text-danger"></span>

					</div>
					<div class="mb-7">
						<input type="text" asp-for="PublishingDate" class="form-control form-control-solid js-datepicker" placeholder="Publishing Date">
						<span asp-validation-for="PublishingDate" class="text-danger"></span>

					</div>

					<div class="form-floating mb-7">
						<input asp-for="Hall" class="form-control" placeholder="Hall">
						<label asp-for="Hall"></label>
						<span asp-validation-for="Hall" class="text-danger"></span>

					</div>

					<div class="form-floating mb-7">
						<textarea asp-for="Description" class="form-control js-tinymce" placeholder="Description">

						</textarea>
						<label asp-for="Description"></label>
						<span asp-validation-for="Description" class="text-danger"></span>

					</div>

					<div class="mb-7">
						
						<select asp-for="AuthorId" asp-items="@Model.AuthorSelectList" class="form-select" data-control="select2" data-placeholder="Select an option">
							<option hidden value="">-- select author --</option>
						</select>
						<span asp-validation-for="AuthorId" class="text-danger"></span>

					</div>

					<div class=" mb-7">
						<select asp-for="SelectedCategories" asp-items="@Model.CategorySelectList" class="form-select" data-control="select2" data-placeholder="Select an option">
							<option hidden value="">-- select category --</option>
						</select>
						<span asp-validation-for="SelectedCategories" class="text-danger"></span>

					</div>

					<div class="form-check form-switch form-check-custom form-check-solid mb-5">
						<input asp-for="IsAvaliableForRental" class="form-check-input" type="checkbox">
						<label class="form-check-label" asp-for="IsAvaliableForRental"></label>
					</div>


					<button type="submit" class="btn btn-primary">
						<span class="indicator-label">
							Save
						</span>
						<span class="indicator-progress">
							Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>
					</button>
				</div>
				<div class="col-md-4">
					
					<!--begin::Image input-->
					<div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url('@Url.Content(string.IsNullOrEmpty(Model.ImageUrl) ? "~/images/image-placeholder.jpg" : $"~/images/Book/{Model.ImageUrl}")');">
						<!--begin::Image preview wrapper-->
						<div class="image-input-wrapper w-250px h-300px"></div>
						<!--end::Image preview wrapper-->
						<!--begin::Edit button-->
						<label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
							   data-kt-image-input-action="change"
							   data-bs-dismiss="click">
							<i class="bi bi-pencil-fill fs-7"></i>

							<!--begin::Inputs-->
							<input type="file" asp-for="ImageFile" accept=".png, .jpg, .jpeg" />
							<input type="hidden" name="avatar_remove" />
							<!--end::Inputs-->
						</label>
						<!--end::Edit button-->
						<!--begin::Cancel button-->
						<span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
							  data-kt-image-input-action="cancel"
							  data-bs-dismiss="click">
							<i class="bi bi-x fs-2"></i>
						</span>
						<!--end::Cancel button-->
						
					</div>
					<span asp-validation-for="ImageFile" class="text-danger d-block"></span>
					<!--end::Image input-->
				</div>


			</div>

		</form>

	</div>


</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
	<script>
		$(function () {
			
		})
	</script>
}