@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
	<img src="~/assets/images/401 error unauthorized-cuate.svg" alt="Access denied" class="h-700px" />
</div>