@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="d-flex flex-column flex-root">

    <!--begin::Authentication - Password reset -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
        
        <!--begin::Aside-->
        <div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
            <!--begin::Wrapper-->
            <div class="d-flex justify-content-center flex-column-fluid flex-column w-100 mw-450px">
                
                <!--begin::Body-->
                <div class="py-20">

                    <!--begin::Form-->
                    <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" method="post">
                        <!--begin::Heading-->
                        <div class="text-start mb-10">
                            <!--begin::Title-->
                            <h1 class="text-gray-900 mb-3 fs-3x" data-kt-translate="password-reset-title">
                                Forgot Password ?
                            </h1>
                            <!--end::Title-->
                            <!--begin::Text-->
                            <div class="text-gray-500 fw-semibold fs-6" data-kt-translate="password-reset-desc">
                                Enter your email to reset your password.
                            </div>
                            <!--end::Link-->
                        </div>
                        <!--begin::Heading-->
                        <!--begin::Input group-->
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control form-control-solid" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="d-flex flex-stack">
                            <!--begin::Link-->
                            <div class="m-0">
                                <button type="submit" class="btn btn-primary me-2" data-kt-translate="password-reset-submit">

                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">
                                        Submit
                                    </span>
                                    <!--end::Indicator label-->
                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress">
                                        Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                    <!--end::Indicator progress-->
                                </button>

                                <a asp-page="./login" class="btn btn-lg btn-light-primary fw-bold" data-kt-translate="password-reset-cancel">Cancel</a>
                            </div>
                            <!--end::Link-->
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Body-->
               
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Aside-->
        <div class="d-none d-lg-flex flex-lg-row-fluid w-500px  bgi-size-contain bgi-position-y-center bgi-position-x-start bgi-no-repeat" style="background-image: url(/assets/images/login.svg)">
        </div>
    </div>
    <!--end::Authentication - Password reset-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
