@model UserResetPasswordViewModel

<form asp-action="ResetPassword"
	  data-ajax="true"
	  data-ajax-method="POST"
	  data-ajax-success="OnSuccessSubmit"
	  data-ajax-failure="ShowErrorMessage"
	  data-ajax-begin="OnBeginModal">

	@if (!string.IsNullOrEmpty(Model.Id))
	{
		<input type="hidden" asp-for="Id" />
	}
	

	<div class="form-floating mb-3">
		<input asp-for="Password" class="form-control" placeholder="first name">
		<label asp-for="Password"></label>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>
	<div class="form-floating mb-3">
		<input asp-for="ConfirmPassword" class="form-control" placeholder="first name">
		<label asp-for="ConfirmPassword"></label>
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
